<mat-card id="menuItem">
  <img mat-card-image src={{project.imageURL}} />

  <div id="content">
    <mat-card-title id="title">
      <p>{{ project.title }}</p>
    </mat-card-title>

    <mat-card-subtitle>
      {{project.subtitle}}
    </mat-card-subtitle>

    <mat-card-content>
      {{project.content}}
    </mat-card-content>

    <mat-card-actions>
      <a href="#">
        <button mat-raised-button color="accent">Go to live project 👁</button>
      </a>

      <a href={{project.gitURL}} target="_blank">
        <button mat-raised-button color="primary">Github code 🐱‍👤</button>
      </a>
    </mat-card-actions>
  </div>
</mat-card>
