<mat-card id="createPost" #createPostContainer>
  <mat-card-title>Agregar proyecto 🆕</mat-card-title>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput type="text" [(ngModel)]="title" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Subtitle</mat-label>
    <input matInput type="text" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput name="" id="" cols="30" rows="10"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Github url</mat-label>
    <input matInput type="text" />
  </mat-form-field>

  <button (click)="animate()" mat-stroked-button color="primary">
    Guardar post 💾
  </button>
</mat-card>

<add-project-button (click)="animate()"></add-project-button>

<div id="greenScreen">
</div>
