@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
  height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width:5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffd740;
  border-radius: 10px 10px;
}

*::selection {
  background-color: rgba(70, 236, 173, 0.863);
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}
